name: Deploy to Fandogh

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Fandogh CLI
      run: |
        python -m pip install --upgrade pip
        pip install fandogh_cli --upgrade
    - name: Login to Fandogh
      run: |
        COLLECT_ERROR=True fandogh login --username ${{ secrets.FANDOGH_USERNAME }} --password ${{ secrets.FANDOGH_PASSWORD }}
    - name: Change Fandogh namespace
      run: |
        fandogh namespace active --name ${{ secrets.FANDOGH_NAMESPACE }}
